@import "tailwindcss";

@theme {
  --color-brand-primary: #8CC915;
  --color-brand-dark: #355E1B;
  --color-brand-light: #F4FAEA;
  --color-brand-text-main: #172033;
  --color-brand-text-secondary: #6B7280;
  --color-brand-border: #E5E7EB;
}

:root {
  background: white;
}
