@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-primary: #8CC915;
  --color-brand-dark: #355E1B;
  --color-brand-light: #F4FAEA;
  --color-brand-text-main: #172033;
  --color-brand-text-secondary: #6B7280;
  --color-brand-border: #E5E7EB;

  /* Dark Mode Brand Colors */
  --color-dark-bg-main: #0F172A;
  --color-dark-bg-card: #1E293B;
  --color-dark-text-main: #F8FAFC;
  --color-dark-text-secondary: #94A3B8;
  --color-dark-border: #334155;
}

:root {
  background: white;
}

body {
  @apply bg-white dark:bg-dark-bg-main text-brand-text-main dark:text-dark-text-main transition-colors duration-300;
}
